<div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 pull-right">
        <button class="btn btn-primary pull-left" (click)="openModal()">Nova Indicação</button>
      </div>
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>CPF</th>
              <th>Telefone</th>
              <th>Email</th>
              <th>Status</th>
              <th>Ação</th>
            </tr>
          </thead>
          <tbody *ngFor="let indicacao of indicacoes">
            <tr>
              <td>{{indicacao.nome}}</td>
              <td>{{indicacao.cpf}}</td>
              <td>{{indicacao.telefone}}</td>
              <td>{{indicacao.email}}</td>
              <td>{{indicacao.descricao_situacao}}</td>
              <td>
                <a class="btn btn-warning btn-sm" (click)="editIndicacao(indicacao.id)">Editar</a>
                <a class="btn btn-info btn-sm" [attr.disabled]="indicacao.situacao != 'F'" (click)="changeSituacaoIndicacao(indicacao)">Alterar Situação</a>
                <a class="btn btn-danger btn-sm" (click)="removerIndicacao(indicacao)">Remover</a>

              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
